*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

img {
    width: 130px;
    height: auto;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
}

input {
    border: 1px solid #cccccc;
}

button {
    border: none;
    background: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

a {
    display: block;
    font-size: 14px;
    color: purple;
    text-decoration: none;
    margin-top: 5px;
}

a:hover {
    text-decoration: underline;
}

input:focus {
    outline: none;
    border-color: blue;
}